<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="${pageContext.request.contextPath}/WEB-INF/css/style.css">
  <style>
    *{
      clear:both;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex" th:fragment="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="margin-left:5%;">Out of Milk</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <!--          when we switch between user and vistor
                      Vistor-->

      <!--          <ul class="navbar-nav" style="margin-right:5%;">-->
      <!--              <li class="nav-item">-->
      <!--                  <a class="nav-link active" href="#">Login</a>-->
      <!--              </li>-->
      <!--              <li class="nav-item">-->
      <!--                  <a class="nav-link active pl-10" href="#">Register</a>-->
      <!--              </li>-->
      <!--          </ul>-->

      <!--          user-->

      <ul class="navbar-nav" style="margin-right:5%;">
        <li class="nav-item">
          <a class="nav-link active" href="#">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active pl-10" href="#">
            <i class="fa-solid fa-user"></i>
            User
          </a>
        </li>
        <li class="nav-item">
          <!--        <li class="nav-item" sec:authorize="isAuthenticated()">-->
          <!--          <form th:action="@{/logout}" th:method="post">-->
          <!--            <button class="btn-link btn" style="margin-top: 8px">Logout</button>-->
          <!--          </form>-->
          <form th:action="@{/logout}" th:method="post">
          <button class="btn-link btn" style="margin-top: 8px">Logout</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="body d-flex justify-content-evenly" th:fragment="car">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../partial/img/Ultimate-Beef-Burger.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../partial/img/HerbButterTurkey_RECIPE_090822_2318.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">

        </div>
      </div>
      <div class="carousel-item">
        <img src="../partial/img/Chinese-Five-Spice-Duck.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<footer th:fragment="footer" class="bg-light py-3 mt-4 fixed-bottom">
  <div class="container text-center">
    <!--    <p class="display-5 mb-3">title</p>-->
    <div>
      <i class="fa-brands fa-twitter" style="margin: 0% 1%;"></i>
      <i class="fa-brands fa-instagram" style="margin: 0% 1%;"></i>
      <i class="fa-brands fa-facebook" style="margin: 0% 1%;"></i>
    </div>
    <small class="text-50">Copyright &copy; 2023 InSync</small>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/225426762d.js" crossorigin="anonymous"></script>
</footer>

</body>
</html>