<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="partial/partials :: head">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<nav th:insert="partial/partials :: navbar"></nav>

<div class="container">

    <h1>Please Log In</h1>

    <div th:if="${param.error}">
        Invalid Username and Password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <form th:action="@{/login}" method="post">

        <div class="col-md-4">
            <label for="username" class="form-label">Username</label>
            <input id="username" class="form-control" name="username" type="text" value="test1"/>
        </div>

        <div class="col-md-4">
            <label for="password" class="form-label">Password</label>
            <input id="password" class="form-control" name="password" type="password" value="abc123"/>
        </div>

        <br>

        <div>
            <input type="submit" class="btn btn-primary btn-block" value="Log In"/>
        </div>
    </form>

</div>

<footer th:insert="partial/partials :: footer"></footer>

</body>
</html>