<!DOCTYPE html>
<html lang="en">
<head th:insert="partial/partials :: head">
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<nav th:insert="partial/partials :: navbar"></nav>

<div class="container-fluid p-3">
    <h2>Profile</h2>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-pantry-tab" data-bs-toggle="tab" data-bs-target="#nav-pantry" type="button" role="tab">Pantry List</button>
            <button class="nav-link" id="nav-grocery-tab" data-bs-toggle="tab" data-bs-target="#nav-grocery" type="button" role="tab">Grocery List</button>
            <button class="nav-link" id="nav-recipe-tab" data-bs-toggle="tab" data-bs-target="#nav-recipe" type="button" role="tab">Favorite Recipe</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-pantry" role="tabpanel" aria-labelledby="nav-pantry-tab">Pantry</div>
        <div class="tab-pane fade" id="nav-grocery" role="tabpanel" aria-labelledby="nav-grocery-tab">Grocery</div>
        <div class="tab-pane fade" id="nav-recipe" role="tabpanel" aria-labelledby="nav-recipe-tab">Fav Recipe</div>
    </div>
</div>

<footer th:insert="partial/partials :: footer"></footer>
</body>
</html>