<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head th:insert="partial/partials :: head">
    <meta charset="UTF-8">

    <title id="pageTitle">Profile</title>

    <title>Profile</title>
</head>
<body>
<nav th:insert="partial/partials :: navbar"></nav>
<div class="container-fluid p-3">
    <div class="row">
        <div class="card col d-flex" style="max-width: 100%;max-height: 100%; width:50em;">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp" class="card-img-top rounded-circle" alt="...">
            <div class="card-body">
                <h5 class="card-title" th:text="${user.username}"></h5>
                <p class="card-text" th:text="${user.email}"></p>
                <button class="btn btn-primary" data-bs-target="#settings" data-bs-toggle="modal"
                        type="button">Settings
                </button>
            </div>
        </div>

        <div class="container-fluid d-flex justify-content-center col">
            <div class="row">
                <h3 class="col" style="text-align: center; max-height:10%">Favorite Categories</h3>
                <div class="row">
                    <div class="two-columns justify-content-center col">
                        <form id="update-categories-form" th:object="${user}" th:action="@{/user/} + ${user.id} + '/uc'" method="post">
                            <ul class="list-group" th:each="category : ${categories}">
                                <li class="list-group-item d-flex justify-content-between">
                                    <label class="" style="text-align: center;" th:for="${category.getName()}" th:text="${category.getName()}"></label>
                                    <input class="form-check-input me-1" value="" type="checkbox" th:id="${category.getName()}" th:name="categories" th:value="${category.getName()}" th:checked="${user.getCategories().contains(category)}">

                                </li>
                            </ul>
                            <div class="row">
                                <button id="update-categories-btn" type="submit" class="btn btn-primary col">Update Categories</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="m-3 ">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <!--            the tabs-->
            <button class="nav-link active" data-bs-target="#nav-pantry" data-bs-toggle="tab" id="nav-pantry-tab"
                    role="tab" type="button">Pantry List
            </button>
            <button class="nav-link" data-bs-target="#nav-grocery" data-bs-toggle="tab" id="nav-grocery-tab"
                    role="tab" type="button">Grocery List
            </button>
            <button class="nav-link" data-bs-target="#nav-recipe" data-bs-toggle="tab" id="nav-recipe-tab" role="tab"
                    type="button">Favorite Recipe
            </button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <!--        inside the tabs-->
        <!--        pantry-->
        <div aria-labelledby="nav-pantry-tab" class="tab-pane fade show active" id="nav-pantry" role="tabpanel">
            <h4 style="text-align: center;">Pantry List Ingredients</h4>
            <div class="d-flex justify-content-between">
                <button class="btn btn-primary" data-bs-target="#addItemPantry" data-bs-toggle="modal" style="float: right"
                        type="button">Add New Item
                </button>
                <form id="delete-pantry-form" th:object="${user}" th:action="@{/user/} + 'dpl'" method="post">
                    <button id="delete-pantry-btn" type="submit" class="btn btn-outline-secondary" >Clear Pantry List</button>
                </form>
            </div>
            <hr>
            <ul  class="list-group" th:each="ingredient : ${user.getPantryItems()}">
                <li class="list-group-item d-flex justify-content-between">
                    <p style="text-transform: capitalize;" th:text="${ingredient.name}"></p>
                    <a class="btn btn-outline-secondary" th:href="@{/user/} + ${ingredient.id} + '/dpi'" role="button">Remove</a>
                </li>
            </ul>
        </div>

        <!--grocery -->
        <div aria-labelledby="nav-grocery-tab" class="tab-pane fade" id="nav-grocery" role="tabpanel">
            <h4 style="text-align: center;">Grocery List Ingredients</h4>
            <div class="d-flex justify-content-between">
                <button class="btn btn-primary" data-bs-target="#addItemGrocery" data-bs-toggle="modal" style="float: right"
                        type="button">Add New Item
                </button>

                <form id="email-grocery-form" th:object="${user}" th:action="@{/user/} + 'egl'" method="post">
                    <button id="email-grocery-btn" class="btn btn-outline-secondary" type="submit">Email Grocery List</button>
                </form>

                <form id="delete-grocery-form" th:object="${user}" th:action="@{/user/} + 'dgl'" method="post">
                    <button id="delete-grocery-btn" class="btn btn-outline-secondary" type="submit">Clear Grocery List</button>
                </form>
            </div>
            <hr>

            <ul class="list-group" th:each="ingredient : ${user.getGroceryItems()}">
                <li class="list-group-item d-flex justify-content-between">
                    <p style="text-transform: capitalize;" th:class="${user.getPantryItems().contains(ingredient)} ? 'green' : 'red'" th:text="${ingredient.name}" >No ingredients in list</p>
                    <a class="btn btn-outline-secondary" th:href="@{/user/} + ${ingredient.id} + '/dgi'" role="button">Remove</a>
                </li>
            </ul>
        </div>

        <!--        favorite recipe-->
        <div aria-labelledby="nav-recipe-tab" class="tab-pane fade" id="nav-recipe" role="tabpanel">
            <h4 style="text-align: center;">Favorite Recipe</h4>
            <hr>
            <ul class="list-group" th:each="recipePreferenceFavorites : ${recipePreferencesFavorites}">
                <li class="list-group-item d-flex justify-content-between">
                    <a th:href="@{/recipe/} + ${recipePreferenceFavorites.getRecipe().getIdMeal()}" th:text="${recipePreferenceFavorites.getRecipe().getStrMeal()}"></a>
                    <a class="btn btn-danger" th:href="@{/user/} + ${recipePreferenceFavorites.getRecipe().getIdMeal()} + '/dhr'" role="button">Remove</a>
                </li>
            </ul>
            <hr>


            <div id="carouselExampleDark" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">

                <div class="carousel-inner carousel-container" sec:authorize="isAuthenticated()">
                    <div th:each="recipePreferenceFavorite : ${recipePreferencesFavorites}" th:class="${recipePreferenceFavorite.getRecipe().showThis} ? 'carousel-item active' : 'carousel-item'" data-bs-interval="10000">

                        <a th:href="@{'/recipe/'} + ${recipePreferenceFavorite.getRecipe().getIdMeal()}">
                            <h2 th:text="${recipePreferenceFavorite.getRecipe().getStrMeal()}"></h2>
                            <img alt="..." class="d-block w-100 carousel-image" th:src="${recipePreferenceFavorite.getRecipe().getStrMealThumb()}">
                        </a>
                        <div class="carousel-caption d-none d-md-block"></div>

                    </div>
                    <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators"
                            type="button">
                        <span class="carousel-control-prev-icon"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleIndicators"
                            type="button">
                        <span class="carousel-control-next-icon"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>



<!--            <div class="carousel carousel-dark slide" data-bs-ride="carousel" id="carouselExampleDark">-->
<!--                <div class="carousel-indicators">-->
<!--                    <button aria-current="true" aria-label="Slide 1" class="active" data-bs-slide-to="0"-->
<!--                            data-bs-target="#carouselExampleDark" type="button"></button>-->
<!--                    <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#carouselExampleDark"-->
<!--                            type="button"></button>-->
<!--                    <button aria-label="Slide 3" data-bs-slide-to="2" data-bs-target="#carouselExampleDark"-->
<!--                            type="button"></button>-->
<!--                </div>-->
<!--                <div class="carousel-inner carousel-container">-->
<!--&lt;!&ndash;                    <div th:each="recipePreferenceFavorite : ${recipePreferencesFavorites}">&ndash;&gt;-->
<!--                        <div th:each="recipePreferenceFavorite : ${recipePreferencesFavorites}" th:class="${recipePreferenceFavorite.getRecipe().showThis} ? 'carousel-item active' : 'carousel-item'" sec:authorize="isAuthenticated()" data-bs-interval="10000">-->
<!--                            <a th:href="@{/recipe/} + ${recipePreferenceFavorite.getRecipe().getIdMeal()}">-->
<!--                                <p th:text="${recipePreferenceFavorite.getRecipe().getStrMeal()}"></p>-->
<!--                                <img alt="..." class="d-block w-100 carousel-image" th:src="${recipePreferenceFavorite.getRecipe().getStrMealThumb()}">-->
<!--                            </a>-->
<!--                            <div class="carousel-caption d-none d-md-block"></div>-->
<!--                        </div>-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                </div>-->
<!--                <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleDark"-->
<!--                        type="button">-->
<!--                    <span aria-hidden="true" class="carousel-control-prev-icon"></span>-->
<!--                    <span class="visually-hidden">Previous</span>-->
<!--                </button>-->
<!--                <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleDark"-->
<!--                        type="button">-->
<!--                    <span aria-hidden="true" class="carousel-control-next-icon"></span>-->
<!--                    <span class="visually-hidden">Next</span>-->
<!--                </button>-->
<!--            </div>-->
        </div>
        <!-- Settings Modal -->
        <div class="modal fade" id="settings" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="settingsLabel">Settings</h1>
                        <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/user}" th:method="post" th:object="${user}">
                            <div class="form-floating" style="width: 30rem;">
                                <input class="form-control mb-3 g-col-4 field" id="username" name="username"
                                       th:value="*{username}" type="text">
                                <label for="username">Change Username:</label>
                            </div>
                            <br/>
                            <div class="form-floating" style="width: 30rem;">
                                <input class="form-control mb-3 g-col-4 field" id="email" name="email"
                                       th:value="*{email}" type="text">
                                <label for="username">Change Email:</label>
                            </div>
                            <br/>
                            <div class="form-floating" style="width: 30rem;">
                                <input class="form-control mb-3 g-col-4 field" id="password" name="password" type="text">
                                <label for="email">Change Password:</label>
                            </div>
                            <div class="form-floating" style="width: 30rem;">
                                <input class="form-control mb-3 g-col-4 field" id="confirmPassword" name="confirmPassword" type="text">
                                <label for="password">Confirm Password:</label>
                            </div>
                            <br/>
                            <div class="container p-2">
                                <ul class="no-bullets">
                                    <li th:each="recipePreferenceHidden : ${recipePreferencesHidden}">
                                        <a th:href="@{/recipe/} + ${recipePreferenceHidden.getRecipe().getIdMeal()}" th:text="${recipePreferenceHidden.getRecipe().getStrMeal()}"></a>
                                        <a class="btn btn-danger" th:href="@{/user/} + ${recipePreferenceHidden.getRecipe().getIdMeal()} + '/dhr'" role="button">Remove</a>
                                    </li>
                                </ul>
                            </div>

                            <input class="form-control" type="submit"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add item Pantry Modal -->
        <div class="modal fade" id="addItemPantry" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addItemPantryLabel">Add Item</h1>
                        <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
                    </div>
                    <div class="modal-body">
                        <form th:object="${ingredients}" th:action="@{/user/addItemPantry}" th:method="GET" >

                            <label for="exampleDataList" class="form-label">Search for Ingredient</label>
                            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search..." name="selectedIngredient">

                            <datalist id="datalistOptions" >
                                <option th:value="${ingredient.name}" th:each="ingredient : ${ingredients}" th:text="${ingredient.name}"></option>
                                <!--                                th:text="${ingredient.name}"-->
                            </datalist>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
                                <button class="btn btn-primary" type="submit">Add</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!--        Add item Grocery Modal-->
        <div class="modal fade" id="addItemGrocery" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addItemGroceryLabel">Add Item</h1>
                        <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
                    </div>
                    <div class="modal-body">
                        <form th:object="${ingredients}" th:action="@{/user/addItemGrocery}" th:method="GET" >

                            <label for="exampleDataList" class="form-label">Search for Ingredient</label>
                            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search..." name="selectedIngredient">

                            <datalist id="datalistOptions" >
                                <option th:value="${ingredient.name}" th:each="ingredient : ${ingredients}" th:text="${ingredient.name}"></option>
                                <!--                                th:text="${ingredient.name}"-->
                            </datalist>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
                                <button class="btn btn-primary" type="submit">Add</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<footer th:insert="partial/partials :: footer"></footer>
<script th:src="@{/js/confirm-buttons.js}"></script>
<script>
    $(document).ready(function () {

    })

</script>
</body>
</html>