<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="partial/partials :: head">
    <title>Profile</title>
</head>
<body>
<nav th:insert="partial/partials :: navbar"></nav>

<div class="container-fluid p-3">
    <h2 class="d-flex justify-content-between">Profile<i class="fa-solid fa-gear"></i></h2>
    <div class="row">
        <img class="rounded-circle col-3" alt="avatar1" src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp" />
        <div class="col-7">
            <div class="form-floating" style="width: 30rem;">
                <input type="username" class="form-control  mb-3 g-col-4" id="floatingUsername" placeholder="username">
                <label for="floatingUsername">Username</label>
            </div>
            <div class="form-floating mb-3" style="width: 30rem;">
                <input type="email" class="form-control  mb-3 g-col-4" id="floatingEmail" placeholder="name@example.com">
                <label for="floatingEmail">Email address</label>
            </div>
            <div class="form-floating mb-3" style="width: 30rem;">
                <input type="password" class="form-control  mb-3 g-col-4" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
        </div>
    </div>

    <nav class="m-3">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <!--            the tabs-->
            <button class="nav-link active" id="nav-pantry-tab" data-bs-toggle="tab" data-bs-target="#nav-pantry" type="button" role="tab">Pantry List</button>
            <button class="nav-link" id="nav-grocery-tab" data-bs-toggle="tab" data-bs-target="#nav-grocery" type="button" role="tab">Grocery List</button>
            <button class="nav-link" id="nav-recipe-tab" data-bs-toggle="tab" data-bs-target="#nav-recipe" type="button" role="tab">Favorite Recipe</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <!--        inside the tabs-->
        <!--        pantry-->
        <div class="tab-pane fade show active" id="nav-pantry" role="tabpanel" aria-labelledby="nav-pantry-tab">
            <div class="d-flex justify-content-between">
                <input class="btn btn-primary" type="button" value="Add New Item">
                <input class="btn btn-primary" type="button" value="Delete Item">
            </div>
            <h4 style="text-align: center;">Ingredients</h4>
            <hr>
            <div class="form-check d-flex justify-content-center">
                <ul>
                    <li style="list-style-type: none;">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            List Ingredient
                        </label>
                    </li>
                    <li style="list-style-type: none;">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            List Ingredient
                        </label>
                    </li>
                </ul>
            </div>
        </div>

        <!--grocery -->
        <div class="tab-pane fade" id="nav-grocery" role="tabpanel" aria-labelledby="nav-grocery-tab">
            <div class="d-flex justify-content-between">
                <input class="btn btn-primary" type="button" value="Add New Item">
                <input class="btn btn-primary" type="button" value="Delete Item">
            </div>
            <h4 style="text-align: center;">Ingredients</h4>
            <hr>
            <div class="form-check d-flex justify-content-center">
                <ul>
                    <li style="list-style-type: none;">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            List Ingredient
                        </label>
                    </li>
                    <li style="list-style-type: none;">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            List Ingredient
                        </label>
                    </li>
                </ul>
            </div>
        </div>

        <!--        favorite recipe-->
        <div class="tab-pane fade" id="nav-recipe" role="tabpanel" aria-labelledby="nav-recipe-tab">
            <div class="d-flex justify-content-between row">
                <form class="d-flex col-6">
                    <input class="form-control" style="width: 20rem; height:4rem;" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit" style="height:4rem;">Search</button>
                </form>
                <div class="col-6">
                    <select class=" mb-3 form-select" style="width: 30rem; height: 4rem" id="category" multiple>
                        <option value="0" selected>Show All</option>
                        <option value="1">Beef</option>
                        <option value="2">Breakfast</option>
                        <option value="3">Chicken</option>
                        <option value="4">Dessert</option>
                        <option value="5">Goat</option>
                        <option value="6">Lamb</option>
                        <option value="7">Pasta</option>
                        <option value="8">Pork</option>
                        <option value="9">Seafood</option>
                        <option value="10">Side</option>
                        <option value="11">Starter</option>
                        <option value="12">Vegan</option>
                        <option value="13">Vegetarian</option>
                        <option value="14">Miscellaneous</option>
                    </select>
                </div>
            </div>
            <h4 style="text-align: center;">Favorite Recipe</h4>
            <hr>
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>Some representative placeholder content for the second slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
    </div>
</div>

<footer th:insert="partial/partials :: footer"></footer>
</body>
</html>