.red
{
    color: red;
}

.green
{
    color: green;
}

.carousel-container {
    width: 50em;
    height: 25em;
    overflow: hidden;
}

.carousel-image {
    width: 40em;
    height: 25em;
    object-fit: cover;
}
*{
    font-family: 'Playfair Display', serif;

}
h2 {
    /*background: -webkit-linear-gradient(#F9F9F9,  #D55E2D);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    filter: brightness(150%);

}
nav{
    background-color:#E85A4F ;
}
footer{
    background-color:#E85A4F ;
}

body{
    background-color: #EAE7DC;
}
