.red
{
    color: red;
}

.green
{
    color: green;
}

.carousel-container {
    width: 50em;
    height: 25em;
    overflow: hidden;
}

.carousel-image {
    width: 40em;
    height: 25em;
    object-fit: cover;
}

.hide {
    display: none;
}