.wrong .fa-check
{
    display: none;
}

.good .fa-times
{
    display: none;
}
.valid-feedback,
.invalid-feedback {
    /*margin-left: calc(2em + 0.25rem + 1.5rem);*/
}

.red
{
    color: red;
}

.green
{
    color: green;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.two-columns {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}