<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="partial/partials :: head">
    <meta charset="UTF-8">
    <title>Find Recipe</title>
</head>
<body>
<script>
    // fetch('https://www.themealdb.com/api/json/v1/1/random.php')
    //     .then(response => response.json())
    //     .then(data => {
    //         const meal = data.meals[0];
    //         const img = document.createElement('img');
    //         img.src = meal.strMealThumb;
    //         const displayMealThumb = document.getElementById('displayMealThumb1');
    //         displayMealThumb.appendChild(img);
    //         const displayMealTitle = document.getElementById('displayMealTitle1');
    //         const mealTitle = document.createElement('h2');
    //         mealTitle.textContent = meal.strMeal;
    //         displayMealTitle.appendChild(mealTitle);
    //         const displayMeal = document.getElementById('displayMeal');
    //         const mealInstructions = document.createElement('p');
    //         mealInstructions.textContent = meal.strInstructions;
    //         displayMeal.appendChild(mealInstructions);
    //     })
    //     .catch(error => console.error(error));
    // fetch('https://www.themealdb.com/api/json/v1/1/random.php')
    //     .then(response => response.json())
    //     .then(data => {
    //         const meal = data.meals[0];
    //         const img = document.createElement('img');
    //         img.src = meal.strMealThumb;
    //         const displayMealThumb = document.getElementById('displayMealThumb2');
    //         displayMealThumb.appendChild(img);
    //         const displayMealTitle = document.getElementById('displayMealTitle2');
    //         const mealTitle = document.createElement('h2');
    //         mealTitle.textContent = meal.strMeal;
    //         displayMealTitle.appendChild(mealTitle);
    //         const displayMeal = document.getElementById('displayMeal');
    //         const mealInstructions = document.createElement('p');
    //         mealInstructions.textContent = meal.strInstructions;
    //         displayMeal.appendChild(mealInstructions);
    //     })
    //     .catch(error => console.error(error));
    // fetch('https://www.themealdb.com/api/json/v1/1/random.php')
    //     .then(response => response.json())
    //     .then(data => {
    //         const meal = data.meals[0];
    //         const img = document.createElement('img');
    //         img.src = meal.strMealThumb;
    //         const displayMealThumb = document.getElementById('displayMealThumb3');
    //         displayMealThumb.appendChild(img);
    //         const displayMealTitle = document.getElementById('displayMealTitle3');
    //         const mealTitle = document.createElement('h2');
    //         mealTitle.textContent = meal.strMeal;
    //         displayMealTitle.appendChild(mealTitle);
    //         const displayMeal = document.getElementById('displayMeal');
    //         const mealInstructions = document.createElement('p');
    //         mealInstructions.textContent = meal.strInstructions;
    //         displayMeal.appendChild(mealInstructions);
    //     })
    //     .catch(error => console.error(error));
    // fetch('https://www.themealdb.com/api/json/v1/1/random.php')
    //     .then(response => response.json())
    //     .then(data => {
    //         const meal = data.meals[0];
    //         const img = document.createElement('img');
    //         img.src = meal.strMealThumb;
    //         const displayMealThumb = document.getElementById('displayMealThumb4');
    //         displayMealThumb.appendChild(img);
    //         const displayMealTitle = document.getElementById('displayMealTitle4');
    //         const mealTitle = document.createElement('h2');
    //         mealTitle.textContent = meal.strMeal;
    //         displayMealTitle.appendChild(mealTitle);
    //         const displayMeal = document.getElementById('displayMeal');
    //         const mealInstructions = document.createElement('p');
    //         mealInstructions.textContent = meal.strInstructions;
    //         displayMeal.appendChild(mealInstructions);
    //     })
    //     .catch(error => console.error(error));
    // fetch('https://www.themealdb.com/api/json/v1/1/random.php')
    //     .then(response => response.json())
    //     .then(data => {
    //         const meal = data.meals[0];
    //         const img = document.createElement('img');
    //         img.src = meal.strMealThumb;
    //         const displayMealThumb = document.getElementById('displayMealThumb5');
    //         displayMealThumb.appendChild(img);
    //         const displayMealTitle = document.getElementById('displayMealTitle5');
    //         const mealTitle = document.createElement('h2');
    //         mealTitle.textContent = meal.strMeal;
    //         displayMealTitle.appendChild(mealTitle);
    //         const displayMeal = document.getElementById('displayMeal');
    //         const mealInstructions = document.createElement('p');
    //         mealInstructions.textContent = meal.strInstructions;
    //         displayMeal.appendChild(mealInstructions);
    //     })
    //     .catch(error => console.error(error));
    // fetch('https://www.themealdb.com/api/json/v1/1/random.php')
    //     .then(response => response.json())
    //     .then(data => {
    //         const meal = data.meals[0];
    //         const img = document.createElement('img');
    //         img.src = meal.strMealThumb;
    //         const displayMealThumb = document.getElementById('displayMealThumb6');
    //         displayMealThumb.appendChild(img);
    //         const displayMealTitle = document.getElementById('displayMealTitle6');
    //         const mealTitle = document.createElement('h2');
    //         mealTitle.textContent = meal.strMeal;
    //         displayMealTitle.appendChild(mealTitle);
    //         const displayMeal = document.getElementById('displayMeal');
    //         const mealInstructions = document.createElement('p');
    //         mealInstructions.textContent = meal.strInstructions;
    //         displayMeal.appendChild(mealInstructions);
    //     })
    //     .catch(error => console.error(error));
</script>
<nav th:insert="partial/partials :: navbar"></nav>
<div class="container-fluid content">
    <h2 style="text-align: center;" sec:authorize="!isAuthenticated()">Search for Recipes</h2>
    <h2 style="text-align: center;" sec:authorize="isAuthenticated()">Recommended Recipes for You</h2>

        <div sec:authorize="isAuthenticated()" class="d-flex justify-content-between row">
            <form class="d-flex col-6">
                <input aria-label="Search" class="form-control" placeholder="Search" style="width: 20rem; height:4rem;"
                       type="search">
                <button class="btn btn-outline-success" style="height:4rem;" type="submit">Search</button>
            </form>
            <div class="col-6">
                <select class=" mb-3 form-select" id="category" multiple style="width: 30rem; height: 4rem">
                    <option selected value="0">Show All</option>
                    <option value="1">Beef</option>
                    <option value="2">Breakfast</option>
                    <option value="3">Chicken</option>
                    <option value="4">Dessert</option>
                    <option value="5">Goat</option>
                    <option value="6">Lamb</option>
                    <option value="7">Pasta</option>
                    <option value="8">Pork</option>
                    <option value="9">Seafood</option>
                    <option value="10">Side</option>
                    <option value="11">Starter</option>
                    <option value="12">Vegan</option>
                    <option value="13">Vegetarian</option>
                    <option value="14">Miscellaneous</option>
                </select>
            </div>
        </div>
    <hr>
    <div class="body d-flex justify-content-evenly">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>

            <div class="carousel-inner" sec:authorize="isAuthenticated()">
                <div th:each="recipe : ${recipes}" th:class="${recipe.showThis} ? 'carousel-item active' : 'carousel-item'" data-bs-interval="10000">
                    <a th:href="@{'/recipe/'} + ${recipe.getIdMeal()}">
                        <h2 th:text="${recipe.getStrMeal()}"></h2>
                        <img alt="..." class="d-block w-100" th:src="${recipe.getStrMealThumb()}">
                    </a>
                    <div class="carousel-caption d-none d-md-block"></div>
                </div>
            </div>

            <div class="carousel-inner" sec:authorize="!isAuthenticated()">
                <div th:each="recipe : ${recipes}" th:class="${recipe.showThis} ? 'carousel-item active' : 'carousel-item'" data-bs-interval="10000">
                    <a th:href="@{/login}">
                        <h2 th:text="${recipe.getStrMeal()}"></h2>
                        <img alt="..." class="d-block w-100" th:src="${recipe.getStrMealThumb()}">
                    </a>
                    <div class="carousel-caption d-none d-md-block"></div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<br>
<div>
    <input type="text" id="search" placeholder="Search meals...">
</div>
    <div th:href="@{/login}" sec:authorize="!isAuthenticated()" id="recipes"></div>

    <div th:href="@{'/recipe/' + ${idmeal}}" sec:authorize="isAuthenticated()" id="recipes"></div>

<script>
    // const alphabet = 'abcdefghijklmnopqrstuvwxyz'.split('').sort();
    // const recipesContainer = document.getElementById('recipes');
    // const searchInput = document.getElementById('search');
    //
    // alphabet.forEach(letter => {
    //     fetch(`https://www.themealdb.com/api/json/v2/`,MEALDB_API_KEY`/search.php?f=${letter}`)
    //         .then(response => response.json())
    //         .then(data => {
    //             const meals = data.meals;
    //             meals.forEach(meal => {
    //                 const card = document.createElement('div');
    //                 card.classList.add('card');
    //
    //                 const cardHeader = document.createElement('div');
    //                 cardHeader.classList.add('card-header');
    //
    //                 const ID = document.createElement('a');
    //                 ID.innerText = meal.strMeal;
    //                 ID.setAttribute('href', `/recipe/${meal.idMeal}`); // Add the href attribute with the meal id
    //                 ID.setAttribute('id', meal.idMeal); // Set the id attribute to the meal id
    //                 const cat = document.createElement('p');
    //                 cat.innerText = meal.strCategory;
    //                 const heading = document.createElement('h1');
    //                 heading.innerText = meal.strMeal;
    //
    //                 cardHeader.appendChild(ID);
    //                 cardHeader.appendChild(cat);
    //                 // cardHeader.appendChild(heading);
    //                 card.appendChild(cardHeader);
    //
    //                 const image = document.createElement('img');
    //                 image.src = meal.strMealThumb;
    //                 image.alt = meal.strMeal;
    //                 const ingredients = document.createElement('ul');
    //                 for (let i = 1; i <= 20; i++) {
    //                     const ingredient = meal[`strIngredient${i}`];
    //                     if (ingredient) {
    //                         const listItem = document.createElement('li');
    //                         listItem.innerText = ingredient;
    //                         ingredients.appendChild(listItem);
    //                     }
    //                 }
    //                 const instructions = document.createElement('p');
    //                 instructions.innerText = meal.strInstructions;
    //
    //                 // card.appendChild(ID);
    //                 // card.appendChild(cat);
    //                 // card.appendChild(heading);
    //                 // card.appendChild(image);
    //                 // card.appendChild(ingredients);
    //                 // card.appendChild(instructions);
    //
    //                 recipesContainer.appendChild(card);
    //             });
    //         })
    //         .catch(error => console.error(error));
    // });
    //
    // searchInput.addEventListener('input', () => {
    //     const searchValue = searchInput.value.toLowerCase();
    //     const cards = recipesContainer.querySelectorAll('.card');
    //     cards.forEach(card => {
    //         const title = card.querySelector('div').innerText.toLowerCase();
    //         if (title.includes(searchValue)) {
    //             card.style.display = '';
    //         } else {
    //             card.style.display = 'none';
    //         }
    //     });
    // });
</script>
<p class="fw-lighter">Outofmilk is a Grocery List is a website that helps you make
    your grocery list in a more organized and convenient way. It allows you to create
    a list and categorize your items. You can also search for recipes and add the
    ingredients needed for those recipes directly to your list. If you have some
    ingredients at home already, you can also add them to a pantry tracker to
    help you avoid buying duplicates. The website may also have some extra features,
    like showing pricing and nutrition information, letting users share their own
    recipes.</p>
<footer th:insert="partial/partials :: footer"></footer>
</body>
</html>