<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="partial/partials :: head">
    <meta charset="UTF-8">
    <title id="pageTitle">Find Recipe</title>
</head>

<body>
<nav th:insert="partial/partials :: navbar"></nav>
<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col p-3 p-lg-5 pt-lg-3">
            <div class="px-1 py-2 my-2 text-center">
                <h1 class="display-5 fw-bold" sec:authorize="isAuthenticated()" style="color:#6B6A67">Recommended Recipes for You</h1>
            </div>

            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner" sec:authorize="isAuthenticated()">
                    <div th:each="recipe : ${finalRecipes}" th:class="${recipe.showThis} ? 'carousel-item active' : 'carousel-item'">
            <!--                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>-->
                        <a th:href="@{'/recipe/'} + ${recipe.getIdMeal()}">
                            <img alt="..." class="d-block w-100 carousel-image" th:src="${recipe.getStrMealThumb()}">
                        </a>
                        <div class="container">
                            <div class="carousel-caption text-center">
<!--                                <h2 th:text="${recipe.getStrMeal()}" class="capitalize btn p-3 mb-2 bg-secondary text-white rounded-pill opacity-75 h-50 d-inline-block fs-3"></h2>-->

                                <h1 th:text="${recipe.getStrMeal()}" class="capitalize btn p-3 mb-2 bg-secondary text-white rounded-pill opacity-75 h-50 d-inline-block fs-3">Example headline.</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="px-4 py-3 my-3 text-center">
    <h1 class="display-5 fw-bold" sec:authorize="isAuthenticated()" style="color:#6B6A67">Search for New Recipes</h1>
</div>
<div class="row p-2" >
    <div sec:authorize="isAuthenticated()" class="d-flex justify-content-evenly container">
            <input type="text" id="search" placeholder="Search Meals or Categories" class="col-6 rounded" style="width: 25rem; height: 4rem;border-color:#D8C3A5;border-style: solid;">
        <div sec:authorize="isAuthenticated()">
            <select  class="selectpicker col-6 show-tick rounded" id="category" style="width: 25rem; height: 4rem;border-color:#D8C3A5;border-style:solid;">
                <option value="" selected>Show All Categories</option>
                <option value="Beef">Beef</option>
                <option value="Breakfast">Breakfast</option>
                <option value="Chicken">Chicken</option>
                <option value="Dessert">Dessert</option>
                <option value="Goat">Goat</option>
                <option value="Lamb">Lamb</option>
                <option value="Pasta">Pasta</option>
                <option value="Pork">Pork</option>
                <option value="Seafood">Seafood</option>
                <option value="Side">Side</option>
                <option value="Starter">Starter</option>
                <option value="Vegan">Vegan</option>
                <option value="Vegetarian">Vegetarian</option>
                <option value="Miscellaneous">Miscellaneous</option>
            </select>
        </div>
    </div>
        <div class="container m-3 " sec:authorize="isAuthenticated()">
            <div class="p-2  d-flex flex-wrap">
                <div class="row row-cols-4 py-8 g-4 justify-content-center" id="recipes" th:href="@{'/recipe/' + ${idmeal}}"></div>
            </div>
        </div>
</div>

<footer th:insert="partial/partials :: footer"></footer>
<script>
    const alphabet = 'abcdefghijklmnopqrstuvwxyz'.split('').sort();
    const recipesContainer = document.getElementById('recipes');
    const searchInput = document.getElementById('search');
    const categoryInput = document.getElementById('category');

    alphabet.forEach(letter => {
        fetch(`https://www.themealdb.com/api/json/v2/1/search.php?f=${letter}`)
            .then(response => response.json())
            .then(data => {
                const meals = data.meals;
                meals.forEach(meal => {
                    const card = document.createElement('div');
                    card.classList.add('card');
                    card.classList.add('col-3');
                    card.classList.add('pt-3');
                    card.style.width = '15em';
                    card.style.textAlign = 'center';

                    const id = meal.idMeal;
                    const title = meal.strMeal;
                    const category = meal.strCategory;
                    const image = meal.strMealThumb;

                    const img = document.createElement('img');
                    img.classList.add('card-img-top');
                    img.src = image;
                    img.alt = 'Card Image';

                    const cardBody = document.createElement('div');
                    cardBody.classList.add('card-body');
                    cardBody.classList.add('capitalize');

                    const cardTitle = document.createElement('h5');
                    cardTitle.classList.add('card-title');
                    cardTitle.innerText = title;

                    const idLink = document.createElement('a');
                    idLink.href = `/recipe/${id}`;
                    idLink.id = id;
                    idLink.innerText = title;

                    const text = document.createElement('p');
                    text.classList.add('card-text');
                    text.innerText = category;

                    cardBody.appendChild(cardTitle);
                    cardBody.appendChild(idLink);
                    cardBody.appendChild(text);
                    card.appendChild(img)
                    card.appendChild(cardBody);

                    const ingredients = document.createElement('ul');
                    for (let i = 1; i <= 20; i++) {
                        const ingredient = meal[`strIngredient${i}`];
                        if (ingredient) {
                            const listItem = document.createElement('li');
                            listItem.innerText = ingredient;
                            ingredients.appendChild(listItem);
                        }
                    }

                    const instructions = document.createElement('p');
                    instructions.innerText = meal.strInstructions;

                    recipesContainer.appendChild(card);
                });
            })
            .catch(error => console.error(error));
    });

    searchInput.addEventListener('input', () => {
        const searchValue = searchInput.value.toLowerCase();
        const cards = recipesContainer.querySelectorAll('.card');
        cards.forEach(card => {
            const title = card.querySelector('a').innerText.toLowerCase();
            if (title.includes(searchValue)) {
                card.style.display = '';
            } else {
                card.style.display = 'none';
            }
        });
    });

    categoryInput.addEventListener('input', () => {
        const searchValue = categoryInput.value.toLowerCase();
        const cards = recipesContainer.querySelectorAll('.card');
        cards.forEach(card => {
            const category = card.querySelector('p').innerText.toLowerCase();
            if (searchValue === '' || category.includes(searchValue)) {
                card.style.display = '';
            } else {
                card.style.display = 'none';
            }
        });
    });
</script>

</body>
</html>