<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="partial/partials :: head">
    <meta charset="UTF-8">
    <title>Find Recipe</title>
</head>
<body>
<nav th:insert="partial/partials :: navbar"></nav>
<br>
<div class="body d-flex justify-content-evenly">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <a th:href="@{/recipe}">
                    <img src="https://media.istockphoto.com/id/1065484168/photo/meal-with-burger-and-fried-potatoes.jpg?s=612x612&w=0&k=20&c=WdKp7P8DkRM9tSMEhOixYAn_SOjq5IgEYf3PvVMf0GY=" class="d-block w-100" alt="...">
                </a>
                <div class="carousel-caption d-none d-md-block"></div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <a th:href="@{/recipe}">
                    <img src="https://media.istockphoto.com/id/491996179/photo/fried-chicken-pile-in-a-basket-on-table.jpg?s=612x612&w=0&k=20&c=hQTkpvCYRx4nJ2KxRgjDpmmbJgDNWj4QBp3aRFKwFTc=" class="d-block w-100" alt="...">
                </a>
                <div class="carousel-caption d-none d-md-block"></div>
            </div>
            <div class="carousel-item">
                <a th:href="@{/recipe}">
                    <img src="https://media.istockphoto.com/id/96991311/photo/traditional-caesar-salad.jpg?s=612x612&w=0&k=20&c=r4PiEy8B8FzCibJ6mhj4Bf_X28cQMEmSnC4WocWzBxw=" class="d-block w-100" alt="...">
                </a>
                <div class="carousel-caption d-none d-md-block"></div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<br>
<p class="fw-lighter">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad aliquid architecto autem corporis cumque deserunt dignissimos eligendi est et eveniet ipsa minus molestias nesciunt officiis omnis optio perspiciatis provident quasi quis quos repudiandae sed tempora ullam vel, velit veritatis vitae voluptate voluptatibus. Adipisci cum dolor et fugiat iste laboriosam molestiae officia, qui similique. Consequatur consequuntur culpa dolor dolorum ducimus eius eos ex illo illum in labore libero minus, nobis odio possimus provident quasi sunt tempora tempore temporibus tenetur totam voluptas! Animi architecto assumenda at culpa cupiditate eligendi error eveniet fuga fugiat illo inventore ipsam ipsum, itaque laboriosam magnam magni maiores nam, necessitatibus nobis nostrum obcaecati provident quam quas sed vel. Aliquid, non, tempora. Aliquam error facilis sunt? Aliquam.</p>
<footer th:insert="partial/partials :: footer"></footer>
</body>
</html>