<!DOCTYPE html>
<html lang="en">
<head th:insert="partial/partials :: head">
  <meta charset="UTF-8">
  <title>Recipe</title>
</head>
<body>
<nav th:insert="partial/partials :: navbar"></nav>

<div>
  <div class="card" >
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
<div class="card border-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<footer th:insert="partial/partials :: footer"></footer>
</body>
</html>