<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="partial/partials :: head">
    <meta charset="UTF-8">
    <title id="pageTitle">Recipe</title>
</head>
<body>
<nav th:insert="partial/partials :: navbar"></nav>
<div class="container-fluid content">
    <div class="d-flex justify-content-center p-3">
        <div class="card mb-3 border border-info" style="max-width: 100%;max-height: 100%;width:60em; height:20em;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img id="displayMealThumb" class="img-fluid card-img rounded-star" th:src="${strMealThumb}" style="width:20em; height:20em;">
                </div>
                <div class="col-md-8 d-flex align-items-center justify-content-center">
                    <div class="card-body text-center">
                        <h1 class="card-title" th:text="${strMeal}">title/name</h1>
                        <h3 class="card-text opacity-75" th:text="${strCategory}">recipe category</h3>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a th:href="@{/user/} + ${id} + @{/afr}" role="button" class="btn" style="font-size: 2em;color:lightpink;">
                                <i class="fa-solid fa-heart-circle-plus"></i>
                            </a>
                            <a th:href="@{/user/} + ${id} + @{/ahr}" role="button" class="btn" style="font-size: 2em;color:darkgrey">
                                <i class="fa-sharp fa-solid fa-heart-crack"></i>
                            ️</a>
                            <a th:href="@{/recipe/} + ${id} + @{/ari}" role="button" class="btn" style="font-size: 2em;color:lightblue">
                                <i class="fa-solid fa-file-circle-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4 class="border border-info" style="text-align: center">Ingredients</h4>
            <ul class="list-group list-group-numbered border border-info">
                <li class="list-group-item" th:text="${strIngredient1}+ ' ' + ${strMeasure1}"></li>
                <li class="list-group-item" th:text="${strIngredient2}+ ' ' + ${strMeasure2}"></li>
                <li class="list-group-item" th:text="${strIngredient3}+ ' ' + ${strMeasure3}"></li>
                <li class="list-group-item" th:text="${strIngredient4}+ ' ' + ${strMeasure4}"></li>
                <li class="list-group-item" th:text="${strIngredient5}+ ' ' + ${strMeasure5}"></li>
                <li class="list-group-item" th:text="${strIngredient6}+ ' ' + ${strMeasure6}"></li>
                <li class="list-group-item" th:text="${strIngredient7}+ ' ' + ${strMeasure7}"></li>
                <li class="list-group-item" th:text="${strIngredient8}+ ' ' + ${strMeasure8}"></li>
                <li class="list-group-item" th:text="${strIngredient9}+ ' ' + ${strMeasure9}"></li>
                <li class="list-group-item" th:text="${strIngredient10}+ ' ' + ${strMeasure10}"></li>
                <li class="list-group-item" th:text="${strIngredient11}+ ' ' + ${strMeasure11}"></li>
                <li class="list-group-item" th:text="${strIngredient12}+ ' ' + ${strMeasure12}"></li>
                <li class="list-group-item" th:text="${strIngredient13}+ ' ' + ${strMeasure13}"></li>
                <li class="list-group-item" th:text="${strIngredient14}+ ' ' + ${strMeasure14}"></li>
                <li class="list-group-item" th:text="${strIngredient15}+ ' ' + ${strMeasure15}"></li>
                <li class="list-group-item" th:text="${strIngredient16}+ ' ' + ${strMeasure16}"></li>
                <li class="list-group-item" th:text="${strIngredient17}+ ' ' + ${strMeasure17}"></li>
                <li class="list-group-item" th:text="${strIngredient18}+ ' ' + ${strMeasure18}"></li>
                <li class="list-group-item" th:text="${strIngredient19}+ ' ' + ${strMeasure19}"></li>
                <li class="list-group-item" th:text="${strIngredient20}+ ' ' + ${strMeasure20}"></li>
            </ul>
        </div>

        <div class="d-flex col-6">
            <div class="card border-info mb-3 justify-content-center">
                <div class="card-header d-flex justify-content-center bg-info">How to cook</div>
                <div class="card-body">
                    <h5 class="card-title">Steps</h5>
                    <p class="card-text" th:text="${strInstructions}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" th:insert="partial/partials :: footer"></footer>
</body>
</html>