<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="partial/partials :: head">
    <meta charset="UTF-8">
    <title id="pageTitle">Recipe</title>

</head>
<body>
<style>
    @media screen and (max-width: 540px){
        .imgResponse {
            display: none;
        }
    }

</style>
<nav th:insert="partial/partials :: navbar"></nav>
<div class="container-fluid content">
    <div class="d-flex justify-content-center p-3">
        <div class="card mb-3 border border-info" style="max-width: 100%;max-height: 100%;width:60em; height:20em;">
            <div class="row g-0">
                <div class="col-md-4 col-xs-6 col-sm-6 col-lg-4 imgResponse">
                    <img id="displayMealThumb " class="img-fluid card-img rounded-star" th:src="${strMealThumb}" style="width:20em; height:20em;">
                </div>
                <div class="col-md-8 col-xs-6 col-sm-6 col-lg-8 d-flex align-items-center justify-content-center">
                    <div class="card-body text-center">
                        <h1 class="card-title" th:text="${strMeal}">title/name</h1>
                        <h3 class="card-text opacity-75" th:text="${strCategory}">recipe category</h3>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a th:href="@{/user/} + ${id} + @{/afr}" role="button" class="btn" style="font-size: 2em;color:lightpink;">
                                <i class="fa-solid fa-heart-circle-plus"></i>
                            </a>
                            <a th:href="@{/user/} + ${id} + @{/ahr}" role="button" class="btn" style="font-size: 2em;color:darkgrey">
                                <i class="fa-sharp fa-solid fa-heart-crack"></i>
                            ️</a>
                            <a th:href="@{/recipe/} + ${id} + @{/ari}" role="button" class="btn" style="font-size: 2em;color:lightblue">
                                <i class="fa-solid fa-file-circle-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4 class="border border-info" style="text-align: center">Ingredients</h4>
            <ul class="list-group border border-info">

                <li th:text="${strIngredient1}+ ' ' + ${strMeasure1}" th:class="${strIngredient1 != null} and ${strIngredient1 != ''} ? 'list-group-item' : 'list-group-item hide'"></li>
                <li th:text="${strIngredient2}+ ' ' + ${strMeasure2}" th:class="${strIngredient2 != null} and ${strIngredient2 != ''} ? 'list-group-item' : 'list-group-item hide'"></li>
                <li th:text="${strIngredient3}+ ' ' + ${strMeasure3}" th:class="${strIngredient1 != null} and ${strIngredient3 != ''} ? 'list-group-item' : 'list-group-item hide'"></li>
                <li th:text="${strIngredient4}+ ' ' + ${strMeasure4}" th:class="${strIngredient1 != null} and ${strIngredient4 != ''} ? 'list-group-item' : 'list-group-item hide'"></li>
                <li th:text="${strIngredient5}+ ' ' + ${strMeasure5}" th:class="${strIngredient1 != null} and ${strIngredient5 != ''} ? 'list-group-item' : 'list-group-item hide'"></li>
                <li th:text="${strIngredient6}+ ' ' + ${strMeasure6}" th:class="${strIngredient1 != null} and ${strIngredient6 != ''} ? 'list-group-item' : 'list-group-item hide'"></li>
                <li th:text="${strIngredient7}+ ' ' + ${strMeasure7}" th:class="${strIngredient1 != null} and ${strIngredient7 != ''} ? 'list-group-item' : 'list-group-item hide'"></li>
                <li th:text="${strIngredient8}+ ' ' + ${strMeasure8}" th:class="${strIngredient1 != null} and ${strIngredient8 != ''} ? 'list-group-item' : 'list-group-item hide'"></li>
                <li th:text="${strIngredient9}+ ' ' + ${strMeasure9}" th:class="${strIngredient1 != null} and ${strIngredient9 != ''} ? 'list-group-item' : 'list-group-item hide'"></li>
                <li th:text="${strIngredient10}+ ' ' + ${strMeasure10}" th:class="${strIngredient1 != null} and ${strIngredient10 != ''} ? 'list-group-item' : 'list-group-item hide'"></li>
                <li th:text="${strIngredient11}+ ' ' + ${strMeasure11}" th:class="${strIngredient1 != null} and ${strIngredient11 != ''} ? 'list-group-item' : 'list-group-item hide'"></li>
                <li th:text="${strIngredient12}+ ' ' + ${strMeasure12}" th:class="${strIngredient1 != null} and ${strIngredient12 != ''} ? 'list-group-item' : 'list-group-item hide'"></li>
                <li th:text="${strIngredient13}+ ' ' + ${strMeasure13}" th:class="${strIngredient1 != null} and ${strIngredient13 != ''} ? 'list-group-item' : 'list-group-item hide'"></li>
                <li th:text="${strIngredient14}+ ' ' + ${strMeasure14}" th:class="${strIngredient1 != null} and ${strIngredient14 != ''} ? 'list-group-item' : 'list-group-item hide'"></li>
                <li th:text="${strIngredient15}+ ' ' + ${strMeasure15}" th:class="${strIngredient1 != null} and ${strIngredient15 != ''} ? 'list-group-item' : 'list-group-item hide'"></li>
                <li th:text="${strIngredient16}+ ' ' + ${strMeasure16}" th:class="${strIngredient1 != null} and ${strIngredient16 != ''} ? 'list-group-item' : 'list-group-item hide'"></li>
                <li th:text="${strIngredient17}+ ' ' + ${strMeasure17}" th:class="${strIngredient1 != null} and ${strIngredient17 != ''} ? 'list-group-item' : 'list-group-item hide'"></li>
                <li th:text="${strIngredient18}+ ' ' + ${strMeasure18}" th:class="${strIngredient1 != null} and ${strIngredient18 != ''} ? 'list-group-item' : 'list-group-item hide'"></li>
                <li th:text="${strIngredient19}+ ' ' + ${strMeasure19}" th:class="${strIngredient1 != null} and ${strIngredient19 != ''} ? 'list-group-item' : 'list-group-item hide'"></li>
                <li th:text="${strIngredient20}+ ' ' + ${strMeasure20}" th:class="${strIngredient1 != null} and ${strIngredient20 != ''} ? 'list-group-item' : 'list-group-item hide'"></li>

            </ul>
        </div>

        <div class="d-flex col-6">
            <div class="card border-info mb-3 justify-content-center">
                <div class="card-header d-flex justify-content-center bg-info">How to cook</div>
                <div class="card-body">
                    <h5 class="card-title">Steps</h5>
                    <p class="card-text" th:text="${strInstructions}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" th:insert="partial/partials :: footer"></footer>

</body>
</html>